<div class="invoice-1 invoice-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner clearfix">
                    <div class="invoice-info clearfix" id="invoice_wrapper">
                        <div class="invoice-headar">
                            <div class="row g-0">
                                <div class="col-sm-6">
                                    <div class="invoice-logo">
                                        <div class="logo">
                                            <img src="../../../../Bk.svg" alt="logo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 invoice-id">
                                    <div class="info">
                                        <h1 class="color-white inv-header-1">Nueva Orden</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-top">
                            
                        </div>
                        <div class="invoice-center">
                            
                        </div>
                        <div class="invoice-bottom">
                            
                </div>
            </div>
        </div>
    </div>
</div>
