<div class="invoice-1 invoice-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner clearfix">
                    <div class="invoice-info clearfix" id="invoice_wrapper">
                        <div class="invoice-headar">
                            <div class="row g-0">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6 invoice-id">
                                    <div class="info">
                                        
                                        <h1 class="color-white inv-header-1">Nueva Orden</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-top">
                            <form [formGroup]="FacturaForm" (keydown)="handleKeyDown($event)" (ngSubmit)="onSubmit()">
                                <div class="p-fluid p-formgrid grid">
                                  <div class="field col-12 md:col-6">
                                    <label for="">Empleado</label>
                                    <p-inputGroup>
                                      <p-inputGroupAddon>
                                          <i class="pi pi-user"></i>
                                      </p-inputGroupAddon>
                                      <input pInputText id="Empl_Nombre" formControlName="Empl_Nombre" type="text" required autofocus  [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('Empl_Nombre').value === ''}"
                                      (keydown)="validarTexto($event)" />
                                  </p-inputGroup>
                                    <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['Empl_Nombre'].invalid" style="color: red !important;">Empleado Requerido</small>
                                  </div>
                                    <div class="field col-12 md:col-6">
                                      <label for="">Identidad</label>
                                      <p-autoComplete [(ngModel)]="selectedClientesAdvanced"
                                      [suggestions]="filteredClientes"
                                      (completeMethod)="filterCliente($event)"
                                      (onSelect)="onSelectCliente($event)"
                                      field="clie_DNI"
                                      formControlName="Clie_DNI"
                                      [dropdown]="true"
                                      appendTo="body">
                                  </p-autoComplete>
                                      <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['Clie_DNI'].invalid" style="color: red !important;">Impuesto Requerido</small>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                      <label for="">Nombre</label>
                                      <input pInputText id="Cliente" formControlName="Clie_Nombre" type="text" required autofocus  [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('Clie_Nombre').value === ''}"
                                      (keydown)="validarTexto($event)" />
                                      <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['Clie_Nombre'].invalid" style="color: red !important;">Impuesto Requerido</small>
                                    </div>
                               </div>
                       
                                  </div>       
                            <p-table [value]="FacturaDetalle" >
                              <ng-template pTemplate="header">
                                  <tr>
                                      <th style="width:15%;">Tabla</th>
                                      <th style="width:5%;">Código</th>
                                      <th style="width:45%;">Producto</th>
                                      <th style="width:10%;">Cantidad</th>
                                      <th style="width:10%;">Precio</th>
                                      <th style="width:10%;">Total</th>
                                      <th></th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-detalle>
                                  <tr>
                                      <td style="width:15%;"></td>
                                      <td>
                                          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                                      </td>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="footer">
                                  <tr>
                                      <td style="width:15%;">
                                          <label>
                                              <input type="radio" name="j-m-radio" value="N" (change)="onRadioChange($event)" formControlName="Faxd_Dif" />
                                              Complemento
                                          </label>
                                          <label>
                                            <input type="radio" name="j-m-radio" value="C" (change)="onRadioChange($event)" formControlName="Faxd_Dif" />
                                            Combo
                                        </label>
                                       
                                        <label>
                                            <input type="radio" name="j-m-radio" value="D" (change)="onRadioChange($event)" formControlName="Faxd_Dif" />
                                            Postre
                                        </label>
                                       
                                        <label>
                                            <input type="radio" name="j-m-radio" value="B" (change)="onRadioChange($event)" formControlName="Faxd_Dif" />
                                            Bebida
                                        </label>
                                       
                                        <label>
                                            <input type="radio" name="j-m-radio" value="P" (change)="onRadioChange($event)" formControlName="Faxd_Dif" />
                                            Paquete
                                        </label>
                                      </td>
                                      <td style="width:5%;">
                                          <input pInputText id="Prod_Id" formControlName="Prod_Id" type="text" required autofocus
                                              [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('Prod_Id').invalid}"
                                              (keydown)="cantidad($event)" />
                                      </td>
                                      <td style="width:45%;">
                                          <p-autoComplete [(ngModel)]="selectedCountryAdvanced"
                                              [suggestions]="filteredCountries"
                                              (completeMethod)="filterCountry($event)"
                                              (onSelect)="onSelectProduct($event)"
                                              field="text"
                                              formControlName="Prod_Producto"
                                              [dropdown]="true"
                                              appendTo="body">
                                          </p-autoComplete>
                                      </td>
                                      <td style="width:10%;">
                                          <input pInputText id="Faxd_Cantidad" formControlName="Faxd_Cantidad" type="text" required autofocus 
                                              [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('Faxd_Cantidad').value === '0' || FacturaForm.get('Faxd_Cantidad').value === ''}"
                                               />
                                               <small *ngIf="submitted && FacturaForm.get('Faxd_Cantidad').value === '0'" style="color: red;">Cantidad es 0</small>
                                      </td>   <small *ngIf="submitted && FacturaForm.get('Faxd_Cantidad').value === ''" style="color: red;">Cantidad es requerida</small>
                                      <td style="width:10%;">
                                          0
                                      </td>
                                      <td style="width:10%;">0</td>
                                  </tr>
                              </ng-template>
                          </p-table>
                      
                                           
                           <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
                              <button pButton icon="pi pi-stop" type="button" (click)="cancelar()" label="Cancelar" class="p-button-outlined"></button>
                          </div>
                          </form>             
                        </div>               
                </div>
            </div>
        </div>
    </div>
</div>