<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">

            <div class=" grid">
                <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">

                    <div class="field col-12 md:col-6">
                        <label>Nombre:</label>
                        <input type="text" class="p-inputtext" formControlName="Comb_Descripcion" [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Comb_Descripcion'].invalid}">
                        <small class="ng-dirty ng-invalid"
                        *ngIf="submitted && form.controls['Comb_Descripcion'].invalid"
                        style="color: red !important;">Nombre Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Precio:</label>
                        <input type="number" class="p-inputtext" formControlName="Comb_Precio" [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Comb_Precio'].invalid}">
                        <small class="ng-dirty ng-invalid"
                        *ngIf="submitted && form.controls['Comb_Precio'].invalid"
                        style="color: red !important;">Precio Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Alimento</label>
                        <p-dropdown [options]="alimentos" formControlName="Alim_Id" placeholder="Seleccione"
                            [showClear]="false" [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Alim_Id'].invalid}"></p-dropdown>
                            <small class="ng-dirty ng-invalid"
                            *ngIf="submitted && form.controls['Alim_Id'].invalid"
                            style="color: red !important;">Alimento Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Bebida</label>
                        <p-dropdown [options]="bebidas" formControlName="Bebi_Id" placeholder="Seleccione"
                            [showClear]="false" [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Bebi_Id'].invalid}"></p-dropdown>
                            <small class="ng-dirty ng-invalid"
                            *ngIf="submitted && form.controls['Bebi_Id'].invalid"
                            style="color: red !important;">Bebida Requerida</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Postre</label>
                        <p-dropdown [options]="postres" formControlName="Post_Id" placeholder="Seleccione"
                            [showClear]="false" [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Post_Id'].invalid}"></p-dropdown>
                            <small class="ng-dirty ng-invalid"
                            *ngIf="submitted && form.controls['Post_Id'].invalid"
                            style="color: red !important;">Postre Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Complemento</label>
                        <p-dropdown [options]="complementos" formControlName="Comp_Id" placeholder="Seleccione"
                            [showClear]="false" [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Comp_Id'].invalid}"></p-dropdown> 
                            <small class="ng-dirty ng-invalid"
                            *ngIf="submitted && form.controls['Comp_Id'].invalid"
                            style="color: red !important;">Complemento Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Imagen</label>
                        <p-fileUpload #fileUpload name="demo[]" [mode]="'basic'" (onSelect)="onUpload($event)"
                            [multiple]="false" accept="image/*" [maxFileSize]="1000000"
                            chooseLabel="{{ showFileUpload ? 'Seleccione' : '' }}">
                        </p-fileUpload>
                      
                    </div>
                </form>
            </div>
            <div class="justify-content-center ms-5">
                <!-- Contenedor para centrar la imagen -->
                <div class="text-center">
                    <p-image *ngIf="selectedImageURL" [src]="selectedImageURL" alt="Imagen seleccionada" width="250"
                        [preview]="true"></p-image>

                </div>
            </div>
            <div class="grid p-justify-end">
                <div class="col">
                    <button pButton pRipple type="button" label="Volver" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary mt-4" (click)="Volver()"></button>

                    <button pButton pRipple type="button" label="Guardar" icon="pi pi-check"
                        class="p-button-rounded ms-6" (click)="guardar()"></button>
                </div>
            </div>
        </div>
    </div>
</div>




<!--  <div class="grid">
   
    <div class="col-12">
        <div class="card">
            
         
                <div class="col-6">
                    <label>Rol:</label>
                    <div class="field mt-2">

                    </div>
                </div>
                <div class="col-6">
                    <label for="state">Alimentos</label>
                    <div class="field mt-2 col-12">
                        
			

                        elect pInputText required autofocus class="col-12">
                            <option *ngFor="let departamento of departamento" [value]="departamento.alim_Id">{{
                                departamento.alim_Descripcion }}</option>
                        </select> 
                    </div>
                </div>
       

        
        </div>
    </div>
</div>  -->