<div class="charts-container">
    <div class="chart-container">
        <h3>Gráfico de Alimentos</h3>
        <p-chart type="pie" [data]="pieDataAlimentos" [options]="pieOptions"></p-chart>
    </div>
    <div class="chart-container">
        <h3>Gráfico de Combos</h3>
        <p-chart type="pie" [data]="pieDataCombos" [options]="pieOptions"></p-chart>
    </div>
    <div class="chart-container">
        <h3>Gráfico de Paquetes</h3>
        <p-chart type="pie" [data]="pieDataPaquetes" [options]="pieOptions"></p-chart>
    </div>
    <div class="chart-container">
        <h3>Gráfico de Postres</h3>
        <p-chart type="pie" [data]="pieDataPostres" [options]="pieOptions"></p-chart>
    </div>
</div>
