<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Combos Personales</h5>
            <button pButton icon="pi pi-plus-circle" style="margin-bottom: 10px;" [class.hidden]=""
                (click)="Nuevo()">Agregar</button>
            <p-table [value]="ComboPersonal" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="['comb_Id','comb_Descripcion','comb_Precio','comb_Imagen','bebi_Descripcion','post_Descripcion','comp_Descripcion','alim_Descripcion']"
                responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                            (click)="clear()"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter($event)" placeholder="Buscar"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Código
                                <p-columnFilter type="text" field="comb_Id" display="menu"
                                    placeholder="Buscar por código"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Descripción
                                <p-columnFilter type="text" field="comb_Descripcion" display="menu"
                                    placeholder="Buscar por descripción"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Precio
                                <p-columnFilter type="text" field="comb_Precio" display="menu"
                                    placeholder="Buscar por precio"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Imagen
                                <p-columnFilter type="text" field="comb_Imagen" display="menu"
                                    placeholder="Buscar por imagen"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Bebida
                                <p-columnFilter type="text" field="bebi_Descripcion" display="menu"
                                    placeholder="Buscar por Bebida"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Postre
                                <p-columnFilter type="text" field="post_Descripcion" display="menu"
                                    placeholder="Buscar por descripción"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Complemento
                                <p-columnFilter type="text" field="comp_Descripcion" display="menu"
                                    placeholder="Buscar por Complemento"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Alimento
                                <p-columnFilter type="text" field="alim_Descripcion" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div>
                        </th>
                        <th style="text-align: center; min-width: 12rem">

                            Acciones


                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-comb>
                    <tr>
                        <td>{{comb.comb_Id}}</td>
                        <td>{{comb.comb_Descripcion}}</td>
                        <td>{{comb.comb_Precio}}</td>
                        <td>
                            <img [src]="comb.comb_Imagen" alt="Imagen de promoción" style="width: 100px; height: auto;">
                        </td>
                        <td>{{comb.bebi_Descripcion}}</td>
                        <td>{{comb.post_Descripcion}}</td>
                        <td>{{comb.comp_Descripcion}}</td>
                        <td>{{comb.alim_Descripcion}}</td>
                        <td style="display: flex; justify-content: space-around; ;grid-gap: 5px;">
                            <p-button label="Editar" icon="pi pi-user-edit" size="small"
                                (click)="Fill(depto.dept_Codigo)" severity="primary" [raised]="true"
                                [plain]="true"></p-button>
                            <p-button label="Detalles" icon="pi pi-book" size="small"
                                (click)="detalles(depto.dept_Codigo)" severity="secondary" [raised]="true"
                                [plain]="true"></p-button>
                            <p-button label="Eliminar" icon="pi pi-trash" size="small"
                                (click)="deleteSelectedProducts(depto.dept_Codigo)" severity="danger" [raised]="true"
                                [plain]="true"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="2">No hay datos para cargar.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="2">Cargando datos. Por favor espera.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>