<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Bebidas</h5>
            <p-dialog header="{{modalTitle}}" [(visible)]="display" (onHide)="recargarPagina()" [modal]="true"
                showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
                <form [formGroup]="formDepartamento">
                    <div class="p-fluid">
                        <div class="p-formgrid grid">
                            <div class="field col">
                                <label htmlFor="name2">Bebida:</label>
                                <input pInputText formControlName="bebi_Descripcion" autocomplete="off" id="name2"
                                    type="text" [ngClass]="{'ng-invalid ng-dirty': submitted && formDepartamento.controls['bebi_Descripcion'].invalid}"/>
                                    <small class="ng-dirty ng-invalid"
                                    *ngIf="submitted && formDepartamento.controls['bebi_Descripcion'].invalid"
                                    style="color: red !important;">Bebida Requerida</small>
                            </div>
                            <div class="field col">
                                <label htmlFor="email2">Precio:</label>
                                <input pInputText formControlName="bebi_Precio" autocomplete="off" id="email2"
                                    type="text" [ngClass]="{'ng-invalid ng-dirty': submitted && formDepartamento.controls['bebi_Precio'].invalid}"/>
                                    <small class="ng-dirty ng-invalid"
                                    *ngIf="submitted && formDepartamento.controls['bebi_Precio'].invalid"
                                    style="color: red !important;">Precio Requerido</small>
                            </div>

                        </div>
                    </div>
                    <div class="p-fluid">
                        <div class="p-formgrid grid">
                            <div class="field col">
                                <label>Imagen:</label>
                                <p-fileUpload #fileUpload name="demo[]" [mode]="'basic'" (onSelect)="onUpload($event)"
                                    [multiple]="false" accept="image/*" [maxFileSize]="1000000"
                                    chooseLabel="{{ showFileUpload ? 'Seleccione' : '' }}">
                                </p-fileUpload>
                            </div>

                        </div>
                    </div>
                    <div class="justify-content-center ms-5">
                        <!-- Contenedor para centrar la imagen -->
                        <div class="text-center">
                            <p-image *ngIf="selectedImageURL" [src]="selectedImageURL" alt="Imagen seleccionada"
                                width="250" [preview]="true"></p-image>
                        </div>
                    </div>
                </form>
                <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-times" (click)="recargarPagina()" label="Cerrar"
                        class="p-button-outlined p-button-danger mr-2"></button>
                    <button pButton icon="pi pi-check" label="{{modalButtonLabel}}" class="p-button-outlined"
                        (click)="guardarDepartamento()"></button>
                </ng-template>

            </p-dialog>
            <div class="grid">
                <div class="col-12">
                    <button (click)="displayNuevoDepartamento()" pButton icon="pi pi-plus-circle" label="Nuevo"
                        class="mr-2"></button>

                </div>
            </div>
            <p-table [value]="bebida" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                [paginator]="true" [globalFilterFields]="['bebi_Id,bebi_Descripcion, bebi_Imagen,bebi_Precio']"
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                            (click)="clear()"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter($event)" placeholder="Buscar"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Bebida
                                <p-columnFilter type="text" field="bebi_Descripcion" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Imagen
                                <p-columnFilter type="text" field="bebi_Imagen" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Precio
                                <p-columnFilter type="text" field="bebi_Precio" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div>
                        </th>
                        <th style="text-align: center;">

                            Acciones


                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bebi>
                    <tr class="">
                        <td>{{bebi.bebi_Descripcion}}</td>
                        <td>
                            <img *ngIf="bebi.bebi_Imagen" [src]="'https://localhost:44332/uploads/' + bebi.bebi_Imagen"
                                alt="Imagen de postre" width="100">
                        </td>

                        <td>{{bebi.bebi_Precio}}</td>
                        <td style="display: flex; justify-content: space-around; ;grid-gap: 5px;">
                            <p-button label="Editar" icon="pi pi-user-edit" size="small"
                                (click)="editDepartamento(bebi)" severity="primary" [raised]="true"
                                [plain]="true"></p-button>
                            <p-button label="Detalles" icon="pi pi-book" size="small"
                                (click)="detallePostre(bebi.bebi_Id)" severity="secondary" [raised]="true"
                                [plain]="true"></p-button>
                            <p-button label="Eliminar" icon="pi pi-trash" size="small"
                                (click)="confirmarEliminarDepartamento(bebi)" severity="danger" [raised]="true"
                                [plain]="true"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td |olspan="2">No hay datos para cargar.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="2">Cargando datos. Por favor espera.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog header="Confirmar Eliminación" [(visible)]="confirmacionVisible" modal="true"
            [style]="{ width: '300px' }">
            <p>¿Está seguro de que desea eliminar este registro?</p>
            <p-footer>
                <button pButton type="button" class="mr-2" label="Cancelar" (click)="cancelarEliminar()"></button>
                <button pButton type="button" label="Confirmar" class="p-button-danger"
                    (click)="eliminarDepartamento()"></button>
            </p-footer>
        </p-dialog>
    </div>
</div>