<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Clientes</h5>
            <button  pButton icon="pi pi-plus-circle" style="margin-bottom: 10px;" [class.hidden]="">Agregar</button>
            <p-table [value]="clientes" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
            [paginator]="true" [globalFilterFields]="['clie_Id,clie_Identidad,clie_Nombre,clie_Apellido,clie_Sexo,clie_Correo,esta_Id,muni_Codigo,carg_Id']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                            (click)="clear()"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter($event)" placeholder="Buscar"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>                       
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Identidad
                                <p-columnFilter type="text" field="clie_Identidad" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Nombre
                                <p-columnFilter type="text" field="clie_Nombre" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div> 
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Apellido
                                <p-columnFilter type="text" field="clie_Apellido" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div> 
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Sexo
                                <p-columnFilter type="text" field="clie_Sexo" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div> 
                            
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Correo
                                <p-columnFilter type="text" field="clie_Correo" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div> 
                        </th>  
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Estado Civil
                                <p-columnFilter type="text" field="esta_Id" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Municipio
                                <p-columnFilter type="text" field="munic_codigo" display="menu"
                                    placeholder="Buscar por Alimento"></p-columnFilter>
                            </div>
                        </th>     
                        <th style="text-align: center;">
                    
                            Acciones
    
                    
                         </th> 
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-clie>
                    <tr>
                        <td>{{clie.clie_Identidad}}</td>
                        <td>{{clie.clie_Nombre}}</td>
                        <td>{{clie.clie_Apellido}}</td>
                        <td>{{clie.clie_Sexo}}</td>
                        <td>{{clie.clie_Correo}}</td>
                        <td>{{clie.esta_Id}}</td>
                        <td>{{clie.muni_Codigo}}</td>
                        <td style="display: flex; justify-content: space-around; ;grid-gap: 5px;">
                            <p-button  label="Editar"   icon="pi pi-user-edit" size="small" (click)="Fill(depto.dept_Codigo)" severity="primary" [raised]="true" [plain]="true"></p-button>
                            <p-button  label="Detalles"   icon="pi pi-book" size="small" (click)="detalles(depto.dept_Codigo)" severity="secondary" [raised]="true" [plain]="true"></p-button>
                            <p-button  label="Eliminar" icon="pi pi-trash" size="small" (click)="deleteSelectedProducts(depto.dept_Codigo)" severity="danger" [raised]="true" [plain]="true"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td |olspan="2">No hay datos para cargar.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="2">Cargando datos. Por favor espera.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>