<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast> 
            <h1>Cargos</h1>
            <p-dialog header="{{modalTitle}}" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
                <form [formGroup]="formCargo">
                    <div class="p-fluid">
                        <div class="p-formgrid grid">         
                            <div class="field col">
                                <label for="email2">Cargo</label>
                                <input pInputText formControlName="cargo" autocomplete="off" id="email2" type="text" />
                                <input pInputText formControlName="id" autocomplete="off" id="email" type="text" hidden />
                                <small *ngIf="campoVacio('cargo')" class="text-danger">El campo es requerido.</small>
                            </div>
                        </div>
                    </div>
                </form>
                <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-times" (click)="display=false" label="Cerrar" class="p-button-outlined p-button-danger mr-2"></button>
                    <button pButton icon="pi pi-check" (click)="guardarCargo()"  label="{{modalButtonLabel}}" class="p-button-outlined"></button>
                </ng-template>
            </p-dialog>
            <div class="grid">
                <div class="col-12">
                    <button (click)="displayNuevoCargo()" pButton icon="pi pi-plus-circle" label="Nuevo" class="mr-2"></button>
                </div>
            </div>
    
            <p-table [value]="cargos" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
    [paginator]="true" [globalFilterFields]="['cargo_Codigo','cargo_Descripcion']" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            
            <th style="min-width: 12rem">
                <div class="flex justify-content-between align-items-center">
                    Cargo
                    <p-columnFilter type="text" field="cargo_Descripcion" display="menu"
                        placeholder="Buscar por descripción"></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 12rem">
                <div class="flex justify-content-between align-items-center">
                    Acciones
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cargo>
        <tr>
            <td>{{cargo.carg_Descripcion}}</td>
            <!-- <td  style="display: flex; grid-gap:10px">
                <button pButton pRipple type="button" label="Editar" class="p-button-primary" (click)="editCargo(cargo)"></button>
                <button pButton pRipple type="button" label="Eliminar" class="p-button-danger" (click)="confirmarEliminarCargo(cargo)"></button>
            </td> -->
            <td style="display: flex; justify-content: space-around; ;grid-gap: 5px;">
                <p-button  label="Editar"   icon="pi pi-user-edit" size="small" (click)="editCargo(cargo)" severity="primary" [raised]="true" [plain]="true"></p-button>
                <p-button  label="Detalles"   icon="pi pi-book" size="small" (click)="detalles(depto.dept_Codigo)" severity="secondary" [raised]="true" [plain]="true"></p-button>
                <p-button  label="Eliminar" icon="pi pi-trash" size="small" (click)="confirmarEliminarCargo(cargo)" severity="danger" [raised]="true" [plain]="true"></p-button>
            </td>
        </tr>

        
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3">No hay datos para cargar.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
        <tr>
            <td colspan="3">Cargando datos. Por favor espera.</td>
        </tr>
    </ng-template>
</p-table>

        </div>
        <p-dialog header="Confirmar Eliminación" [(visible)]="confirmacionVisible" modal="true" [style]="{ width: '300px' }">
            <p>¿Está seguro de que desea eliminar este registro?</p>
            <p-footer>
              <button pButton type="button" class="mr-2" label="Cancelar" (click)="cancelarEliminar()"></button>
              <button pButton type="button" label="Confirmar" class="p-button-danger" (click)="eliminarCargo()"></button>
            </p-footer>
          </p-dialog>
    </div>
</div>
