<div class="container">
  <section id="content">
    <form>
      <h1>Inicio de sesión</h1>
      <div>
        <input type="text" placeholder="Usuario" id="username" />
      </div>
      <div>
        <input type="password" placeholder="Contraseña" id="password" />
      </div>
      <div>
        <button (click)="irAPaginaPrincipal()" type="submit">Entrar</button> <!-- Llama al método para redirigir -->
      </div>
    </form><!-- form -->
  </section><!-- content -->
</div><!-- container -->
