<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">

            <div class=" grid">
                <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">

                    <div class="field col-12 md:col-4">
                        <h5>Identidad:</h5>
                        <label>{{ form.get('empl_Identidad').value }}</label>
                    </div>
                    <div class="field col-12 md:col-4">
                        <h5>Nombre:</h5>
                        <label>{{ form.get('empl_Nombre').value }}</label>
                    </div>
                    <div class="field col-12 md:col-4">
                        <h5>Apellido:</h5>
                        <label>{{ form.get('empl_Apellido').value }}</label>
                    </div>
                    <div class="field col-12 md:col-4">
                        <h5>Sexo:</h5>
                        <label>{{ form.get('empl_Sexo').value }}</label>
                    </div>
                    <div class="field col-12 md:col-4">
                        <h5>Correo:</h5>
                        <label>{{ form.get('empl_Correo').value }}</label>
                    </div>
                    <div class="field col-12 md:col-4">
                        <h5>Estado Civil:</h5>
                        <label>{{ form.get('esta_Descripcion').value }}</label>
                    </div>

                    <div class="field col-12 md:col-4">
                        <h5>Municipio:</h5>
                        <label>{{ form.get('muni_Descripcion').value }}</label>
                    </div>

                    <div class="field col-12 md:col-4">
                        <h5>Departamento:</h5>
                        <label>{{ form.get('depa_Descripcion').value }}</label>
                    </div>


                    <div class="field col-12 md:col-4">
                        <h5>Cargo:</h5>
                        <label>{{ form.get('carg_Descripcion').value }}</label>
                    </div>


                    <div class="field col-12 md:col-4">
                        <h5>Sucursal:</h5>
                        <label>{{ form.get('sucu_Descripcion').value }}</label>
                    </div>
                </form>
            </div>
            <div class="grid p-justify-end">
                <div class="col">
                    <button pButton pRipple type="button" label="Volver" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary mt-4" (click)="Volver()"></button>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h1>Auditoria</h1>
                </div>
            </div>
            <div class="card-body">
                <p-table [value]="staticData">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:200px">Accion</th>
                            <th style="width:200px">Usuario</th>
                            <th style="width:200px">Fecha</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-transaction>
                        <tr>
                            <td style="width:200px;">Creado</td>
                            <td style="width:200px">{{ form.get('creacion').value }}</td>
                            <td style="width:200px">{{ form.get('FechaCreacion').value }}</td>
                        </tr>
                        <tr>
                            <td style="width:200px;">Modificado</td>
                            <td style="width:200px">{{ form.get('modifica').value }}</td>
                            <td style="width:200px">{{ form.get('FechaModificacion').value }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>