<!-- <div class="grid">
    <p-toast></p-toast>
    <div class="col-12 p-lg-12">
        <div class="card">
            <h3>Rol:</h3>
            <form [formGroup]="form">
                <div class="field">

                    <br>
                    <small class="ng-dirty ng-invalid" style="color: red; font-size: 15px;" [style.display]="invalid ? 'block' : 'none'">El campo es requerido</small>
                </div>
             
            </form>

            <div class="col-12 xl:col-8">
                <p-pickList [source]="sourceCities" [target]="targetCities" sourceHeader="Pantallas" targetHeader="Pantallas Agregadas" [dragdrop]="true"
                [responsive]="true" [sourceStyle]="{'height':'250px'}" [targetStyle]="{'height':'250px'}"
                >
        <ng-template let-pantalla pTemplate="item">
            <div>{{ pantalla.name }}</div>
        </ng-template>
    </p-pickList>
            </div>

            <div class="p-field p-d-flex" style="justify-content: end;">
                <button pButton pRipple type="button" label="Volver" icon="pi pi-times" class="p-button-rounded p-button-secondary mt-4" (click)="Volver()"></button>
                <button pButton pRipple type="button" label="Guardar" icon="pi pi-check" class="p-button-rounded ms-6" (click)="guardar()"></button>
            </div>
        </div>
    </div>
</div> -->


<div class="grid">
    <div class="col-12">
      <p-toast></p-toast>
      <div class="card">
  
        <div class=" grid">
          <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">
  
            <div class="field col-12 md:col-6">
              <label>Nombre:</label>
              <input type="text" class="p-inputtext" formControlName="prom_Descripcion">
              <!-- <br>
                      <small class="ng-dirty ng-invalid" style="color: red; font-size: 15px;"
                          [style.display]="invalid ? 'block' : 'none'">El campo es requerido</small> -->
            </div>
            <div class="field col-12 md:col-6">
              <label>Precio:</label>
              <input type="text" class="p-inputtext" formControlName="prom_Precio">
              <!-- <br>
                      <small class="ng-dirty ng-invalid" style="color: red; font-size: 15px;"
                          [style.display]="invalid ? 'block' : 'none'">El campo es requerido</small> -->
            </div>
            <div class="field col-12 md:col-6">
              <label>Dia</label>
              <p-dropdown [options]="dias" formControlName="dias_Id" placeholder="Seleccione"
                [showClear]="false"></p-dropdown>
              <!-- <br>
                      <small class="ng-dirty ng-invalid" style="color: red; font-size: 15px;"
                          [style.display]="invalid ? 'block' : 'none'">El campo es requerido</small> -->
            </div>
            <div class="field col-12 md:col-6">
              <label>Imagen</label>
              <p-fileUpload #fileUpload name="demo[]" [mode]="'basic'" (onSelect)="onUpload($event)"
                [multiple]="false" accept="image/*" [maxFileSize]="1000000"
                chooseLabel="{{ showFileUpload ? 'Seleccione' : '' }}">
              </p-fileUpload>
              <br>
              <small class="ng-dirty ng-invalid" style="color: red; font-size: 15px;"
                [style.display]="invalid ? 'block' : 'none'">El campo es requerido</small>
            </div>
          </form>
        </div>
        <div class="justify-content-center ms-5">
          <div class="text-center">
            <p-image *ngIf="selectedImageURL" [src]="selectedImageURL" alt="Imagen seleccionada" width="250"
              [preview]="true"></p-image>
  
          </div>
        </div>
        <div class="mt-3">
          <span class="p-buttonset">
            <button pButton pRipple label="Alimentos" icon="pi pi-check" (click)="onTabClick('Alimentos')"></button>
            <button pButton pRipple label="Bebidas" icon="local_drink" (click)="onTabClick('Bebidas')"></button>
            <button pButton pRipple label="Complementos" icon="pi pi-cubes" (click)="onTabClick('Complementos')"></button>
            <button pButton pRipple label="Postres" icon="pi pi-birthday-cake" (click)="onTabClick('Postres')"></button>
            <button pButton pRipple label="Sucursales" icon="pi pi-map-marker"
              (click)="onTabClick('Sucursales')"></button>
          </span>
        </div>
  
  
  
        <div *ngIf="activeTab === 'Alimentos'" class="mt-3">
          <p-pickList [source]="sourceAlimentos" [target]="targetCities" sourceHeader="Alimentos"
            targetHeader="Alimentos Agregados" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'250px'}"
            [targetStyle]="{'height':'250px'}">
            <ng-template let-objeto pTemplate="item">
              <div>{{ objeto.name }}</div>
            </ng-template>
          </p-pickList>
        </div>
  
        <div *ngIf="activeTab === 'Bebidas'" class="mt-3">
          <p-pickList [source]="sourceBebidas" [target]="targetBebida" sourceHeader="Bebidas"
            targetHeader="Bebidas Agregadas" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'250px'}"
            [targetStyle]="{'height':'250px'}">
            <ng-template let-bebida pTemplate="item">
              <div>{{ bebida.name }}</div>
            </ng-template>
          </p-pickList>
        </div>
  
        <div *ngIf="activeTab === 'Postres'" class="mt-3">
          <p-pickList [source]="sourcePostres" [target]="targetPostre" sourceHeader="Postres"
            targetHeader="Postres Agregados" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'250px'}"
            [targetStyle]="{'height':'250px'}">
            <ng-template let-postre pTemplate="item">
              <div>{{ postre.name }}</div>
            </ng-template>
          </p-pickList>
        </div>
  
        <div *ngIf="activeTab === 'Complementos'" class="mt-3">
          <p-pickList [source]="sourceComplemetos" [target]="targetComplemento" sourceHeader="Complementos"
            targetHeader="Complementos Agregados" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'250px'}"
            [targetStyle]="{'height':'250px'}">
            <ng-template let-complemento pTemplate="item">
              <div>{{ complemento.name }}</div>
            </ng-template>
          </p-pickList>
        </div>
  
        <div *ngIf="activeTab === 'Sucursales'" class="mt-3">
          <p-pickList [source]="sourceSucursal" [target]="targetSucursal" sourceHeader="Sucursales"
            targetHeader="Sucursales Agregadas" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'250px'}"
            [targetStyle]="{'height':'250px'}">
            <ng-template let-sucursal pTemplate="item">
              <div>{{ sucursal.name }}</div>
            </ng-template>
          </p-pickList>
        </div>

        <div class="grid p-justify-end">
          <div class="col">
            <button pButton pRipple type="button" label="Volver" icon="pi pi-times"
              class="p-button-rounded p-button-secondary mt-4" (click)="Volver()"></button>
  
            <button pButton pRipple type="button" label="Guardar" icon="pi pi-check" class="p-button-rounded ms-6"
              (click)="guardar()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>