<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">

            <div class=" grid">
                <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">

                    <div class="field col-12 md:col-6">
                        <label>Usuario:</label>
                        <input [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Usua_Usuario'].invalid}" type="text" class="p-inputtext" formControlName="Usua_Usuario">
                        <small class="ng-dirty ng-invalid"
                        *ngIf="submitted && form.controls['Usua_Usuario'].invalid"
                        style="color: red !important;">Usuario Requerido</small>
                        
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Contraseña:</label>
                        <input [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Usua_Contra'].invalid}" type="text" class="p-inputtext" formControlName="Usua_Contra">
                        <small class="ng-dirty ng-invalid"
                        *ngIf="submitted && form.controls['Usua_Contra'].invalid"
                        style="color: red !important;">Contraseña Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Empleado:</label>
                        <p-dropdown [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Empl_Id'].invalid}" [options]="empleados" formControlName="Empl_Id" placeholder="Seleccione"
                            [showClear]="false"></p-dropdown>
                            <small class="ng-dirty ng-invalid"
                            *ngIf="submitted && form.controls['Empl_Id'].invalid"
                            style="color: red !important;">Empleado Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Rol:</label>
                        <p-dropdown [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['Rol_Id'].invalid}" [options]="complementos" formControlName="Rol_Id" placeholder="Seleccione"
                            [showClear]="false"></p-dropdown>
                            <small class="ng-dirty ng-invalid"
                            *ngIf="submitted && form.controls['Rol_Id'].invalid"
                            style="color: red !important;">Rol Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Admin</label>
                        <br>
                        <div class="justify-content-center ms-5">
                            <div class="text-center">
                                <p-checkbox class="mt-2" formControlName="Usua_Admin" binary="true"></p-checkbox>
            
                            </div>
                        </div>
                       
						
                    </div>
                </form>
            </div>
            <div class="grid p-justify-end">
                <div class="col">
                    <button pButton pRipple type="button" label="Volver" icon="pi pi-times"
                        class="p-button-rounded p-button-secondary mt-4" (click)="Volver()"></button>

                    <button pButton pRipple type="button" label="Guardar" icon="pi pi-check"
                        class="p-button-rounded ms-6" (click)="guardar()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
