<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card">
            <h1>Usuarios</h1>

            <p-dialog header="{{modalTitle}}" [(visible)]="display" [modal]="true" showEffect="fade"
                [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
                <div class="grid">
                    <form [formGroup]="formDepartamento" class="grid col-12 p-fluid p-formgrid">
                        <div class="field col-12 md:col-6">
                            <label htmlFor="name2">Usuario:</label>
                            <input [ngClass]="{'ng-invalid ng-dirty': submitted && formDepartamento.controls['usuario'].invalid}" formControlName="usuario" class="p-inputtext" type="text" />
                            <small class="ng-dirty ng-invalid"
                            *ngIf="submitted && formDepartamento.controls['usuario'].invalid"
                            style="color: red !important;">Usuario Requerido</small>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="email2">Admin:</label>
                            <br>
                            <div class="justify-content-center ms-5">
                                <div class="text-center">
                                    <p-checkbox class="mt-2" formControlName="admin" binary="true"></p-checkbox>

                                </div>
                            </div>

                        </div>
                        <div class="field col">
                            <label htmlFor="email2">Empleado:</label>
                            <p-dropdown [ngClass]="{'ng-invalid ng-dirty': submitted && formDepartamento.controls['empl_Id'].invalid}" [options]="empleados" formControlName="empl_Id" placeholder="Seleccione"
                                [showClear]="false"></p-dropdown>
                                <small class="ng-dirty ng-invalid"
                                *ngIf="submitted && formDepartamento.controls['empl_Id'].invalid"
                                style="color: red !important;">Empleado Requerido</small>
                        </div>
                        <div class="field col">
                            <label htmlFor="email2">Rol:</label>
                            <p-dropdown [ngClass]="{'ng-invalid ng-dirty': submitted && formDepartamento.controls['rol_Id'].invalid}"[options]="complementos" formControlName="rol_Id" placeholder="Seleccione"
                                [showClear]="false"></p-dropdown>
                                <small class="ng-dirty ng-invalid"
                                *ngIf="submitted && formDepartamento.controls['rol_Id'].invalid"
                                style="color: red !important;">Rol Requerido</small>
                        </div>


                    </form>
                </div>

                <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-times" (click)="cerrar()" label="Cerrar"
                        class="p-button-outlined p-button-danger mr-2"></button>
                    <button pButton icon="pi pi-check" label="{{modalButtonLabel}}" class="p-button-outlined"
                        (click)="guardarDepartamento()"></button>
                </ng-template>

            </p-dialog>

            <div class="grid">
                <div class="col-12">
                    <button (click)="Nuevo()" pButton icon="pi pi-plus-circle" label="Nuevo" class="mr-2"></button>
                </div>
            </div>


            <!-- Tabla de cargos -->
            <p-table [value]="usuario" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                [paginator]="true" [globalFilterFields]="['usua_Usuario']" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Usuario
                                <p-columnFilter type="text" field="sucu_Descripcion" display="menu"
                                    placeholder="Buscar por descripción"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Rol
                                <p-columnFilter type="text" field="muni_Codigo" display="menu"
                                    placeholder="Buscar por descripción"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Empleado
                                <p-columnFilter type="text" field="muni_Codigo" display="menu"
                                    placeholder="Buscar por descripción"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Admin
                                <p-columnFilter type="text" field="muni_Codigo" display="menu"
                                    placeholder="Buscar por descripción"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            Estado
                            <p-columnFilter type="text" field="muni_Codigo" display="menu"
                                placeholder="Buscar por descripción"></p-columnFilter>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Acciones
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>{{usuario.usua_Usuario}}</td>
                        <td>{{usuario.rol_Descripcion}}</td>
                        <td>{{usuario.empleado}}</td>
                        <td>{{usuario.usuaAdmin}}</td>
                        <td>
                            <p-badge value="{{usuario.estado}}" size="large"
                                severity="{{usuario.estado === 'Activo' ? 'success' : 'danger'}}"></p-badge>
                        </td>
                        <td style="display: flex; justify-content: space-around; ;grid-gap: 5px;">
                            <p-button label="Editar" icon="pi pi-user-edit" size="small"
                                (click)="editDepartamento(usuario)" severity="primary" [raised]="true"
                                [plain]="true"></p-button>
                            <p-button label="Detalles" icon="pi pi-book" size="small"
                                (click)="detalleRol(usuario.usua_Id)" severity="secondary" [raised]="true"
                                [plain]="true"></p-button>
                            <p-button label="{{ getBotonEliminarLabel(usuario) }}" icon="{{ getBotonIcono(usuario) }}"
                                size="small" (click)="confirmarEliminarUsuario(usuario)"
                                [severity]="getBotonSeverity(usuario)">
                            </p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="2">No hay datos para cargar.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="2">Cargando datos. Por favor espera.</td>
                    </tr>
                </ng-template>
            </p-table>


            <p-dialog [header]="confirmacionTitulo" [(visible)]="confirmacionVisible" modal="true"
                [style]="{ width: '300px' }">
                <p>{{ confirmacionMensaje }}</p>
                <p-footer>
                    <button pButton type="button" class="mr-2" label="Cancelar" (click)="cancelarEliminar()"></button>
                    <button pButton type="button" label="{{ confirmacionBotonLabel }}"
                        class="{{ confirmacionBotonClase }}" (click)="eliminarusuario()"></button>
                </p-footer>
            </p-dialog>

        </div>
    </div>
</div>